a {
  color: var(--text);
}

body {
  background: var(--main-bg);
  color: var(--text);
  font-family: "samsungOne_400";
}

/* 중앙,하단 진행바 */

.skrollable {
  position: fixed;
  z-index: 5;
}
.history_submenu ul {
  position: relative;
}
#progress1 {
  position: absolute;
  height: 2px;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
}
#progress2 {
  width: 1px;
  top: 30%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
#progress2::before,
#progress2::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: -10px;
}
#progress2::before {
  top: -20px;
}
#progress2::after {
  bottom: 0;
}
.history_submenu {
  background: var(--sub-bg1);
  line-height: 80px;
  gap: 210px;
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;
}
.history_submenu ul li {
  z-index: 30;
}
.history_submenu ul li a {
  background: var(--sub-bg1);
  padding: 0 15px;
}
.history_submenu ul li:first-child a {
  padding-left: 0;
}
.history_submenu ul li:last-child a {
  padding-right: 0;
}
.history_submenu ul li a.active {
  color: var(--point);
}

/* section */
#section1 {
  background-image: url(/img/map_history/history_01.jpg);
}
#section2 {
  background-image: url(/img/map_history/history_02.jpg);
}
#section3 {
  background-image: url(/img/map_history/history_03.jpg);
}
#section4 {
  background-image: url(/img/map_history/history_04.jpg);
}
#section5 {
  background-image: url(/img/map_history/history_05.jpg);
}
section {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 890px;
}
#section1 {
  padding-top: 54px;
}

section > h2 {
  text-align: center;
  font-weight: 700;
}

.history_desc {
  margin-top: 350px;
}
#section1 .history_desc {
  margin-top: 200px;
}

section .history_title {
  width: 490px;
  flex-direction: column;
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
}
/* #section2 .history_title {
  width: 490px;
  flex-direction: column;
  position: static;
  margin-top: 350px;
} */
.history_title h3 {
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 72px;
}
.history_title p {
  font-size: 36px;
  line-height: 40px;
  font-family: "samsungsharpsans_bold";
  text-align: center;
}
.history_desc .year_wrap {
  padding-bottom: 108px;
  width: 498px;
}
.history_desc .year_wrap .year_title {
  font-size: 54px;
  font-family: "samsungsharpsans_medium";
  margin-bottom: 27px;
  margin-left: 70px;
}
.history_desc .year_wrap .year_desc {
  gap: 20px;
  margin-bottom: 27px;
}
.history_desc .year_wrap .year_desc:last-child {
  margin-bottom: 0;
}
.history_desc .year_wrap .year_desc .month {
  width: 50px;
  text-align: right;
  font-size: 24px;
  line-height: 27px;
}
.history_desc .year_wrap .year_desc .desc {
  font-size: 16px;
  line-height: 27px;
}
