a {
  color: var(--text);
}

body {
  background: var(--main-bg);
  color: var(--text);
  font-family: "samsungOne_400";
}
.history_submenu {
  background: var(--sub-bg1);
  line-height: 80px;
  gap: 210px;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
}
#section1 {
  background-image: url(/img/map_history/history_01.jpg);
}
#section1 .history_sticky {
  padding-top: 0px;
  padding-bottom: 300px;
}
#section2 {
  background-image: url(/img/map_history/history_02.jpg);
}
#section3 {
  background-image: url(/img/map_history/history_03.jpg);
}
#section4 {
  background-image: url(/img/map_history/history_04.jpg);
}
#section5 {
  background-image: url(/img/map_history/history_05.jpg);
}
section{
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 890px;
}


section .container > h2 {
  text-align: center;
  font-weight: 700;
  padding-top: 54px;
}

.history_sticky {
  order: 2;
  width: 50%;
}

.history_desc {
  width: 50%;
  order: 1;
  margin-top: 250px;
}

.history_title {
  flex-direction: column;
  margin-top: 250px;
}
.history_title h3 {
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 72px;
}
.history_title p {
  font-size: 36px;
  font-family: "samsungsharpsans_bold";
  text-align: center;
}
.history_desc .year_wrap {
  padding-bottom: 108px;
  width: 498px;
}
.history_desc .year_wrap .year_title {
  font-size: 54px;
  font-family: "samsungsharpsans_medium";
  margin-bottom: 27px;
  margin-left: 70px;
}
.history_desc .year_wrap .year_desc {
  gap: 20px;
  margin-bottom: 27px;
}
.history_desc .year_wrap .year_desc:last-child {
  margin-bottom: 0;
}
.history_desc .year_wrap .year_desc .month {
  width: 50px;
  text-align: right;
  font-size: 24px;
  line-height: 27px;
}
.history_desc .year_wrap .year_desc .desc{
  font-size: 16px;
  line-height: 27px;
}
