body {
  background-color: var(--main-bg);
  color: var(--text);
}
h2,
h3,
h4 {
  font-family: "samsungOne_700";
  font-size: 18px;
}

/* section1 */
#pearl {
  position: relative;
}
#pearl > div {
  justify-content: center;
  flex-direction: row-reverse;
  position: relative;
}

#pearl > div span {
  position: absolute;
  transform: translateX(-40%);
  top: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
}

/* section2 */
#monitors {
  background: url("../img/Overview_sh/bg2.png") no-repeat;
  background-size: 100%;
  height: 847px;
  position: relative;
  background-size: cover;
  background-position: bottom center;
}
#monitors h3 {
  width: 100%;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  top: 40%;
  line-height: 40px;
}

/* section3 */
#toggle {
  width: 1340px;
  margin: 0 auto;
  height: 1040px;
}
#toggle .content {
  width: 100%;
  height: 1070px;
  overflow: hidden;
  position: relative;
}
#toggle .ts {
  width: 100%;
}
#toggle .ts img {
  width: 380px;
  top: 20%;
  bottom: 0;
}
#toggle .ts:nth-child(2) img {
  width: 380px;
  height: 578px;
  border-radius: 300px;
}

#toggle .ts:first-child p {
  text-align: center;
  line-height: 40px;
  position: absolute;
  top: 20%;
  left: 0;
  transition: 3s;
}
#toggle .ts:nth-child(2) p {
  text-align: center;
  line-height: 40px;
  position: absolute;
  bottom: 20%;
  right: 0;
  transform: translateX(-100%);
}
#toggle .ts:first-child.active {
  transform: translateY(-50%);
  transition: 2s;
  opacity: 0;
}
#toggle .ts:nth-child(2).active {
  transform: translateY(-100%);
  transition: 3s;
}

/* section4 */
#monitor {
  padding-bottom: 170px;
}
#monitor div {
  position: relative;
}
#monitor div img:nth-child(2) {
  width: 78%;
  margin: 0 auto;
}
#monitor div img:first-child {
  position: absolute;
  top: 40%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
#monitor p:last-child {
  width: 100%;
  position: absolute;
  top: 40%;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

/* section5 */
#earth div {
  position: relative;
  background-image: url("../img/Overview_sh/bg6.png");
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 100;
  height: 400px;
}
/* #earth img {
  opacity: 0.8;
  width: 100%;
} */
#earth h3 {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 45%;
  transform: translate(-50%, -50%);
  line-height: 40px;
  font-weight: 700;
}
/* section6 */
#display {
  position: relative;
}
#display div {
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
#display span {
  width: 100%;
  position: absolute;
  top: 50%;
  right: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  line-height: 40px;
}
#display h4,
#display p {
  font-size: 40px;
}

@media (max-width: 768px) {
  h2,
  h3,
  h4,
  p {
    font-family: "samsungOne_700";
    font-size: 15px;
  }
  /* section1 */
  #pearl > div img {
    width: 45%;
  }
  #pearl > div span {
    line-height: 30px;
    transform: translateX(-10%);
    width: 60%;
    text-align: left;
  }
  #pearl > div h2 {
    margin-bottom: 20px;
  }
  #monitors {
    margin: 0 92px 0 92px;
    background-size: 100%;
    padding: 0;
  }
  #toggle {
    width: 100%;
    margin: 0 auto;
    height: 795px;
  }
  #toggle .ts {
    flex-direction: column-reverse;
    align-items: center;
  }
  #toggle .ts:nth-child(2).active {
    transform: translateY(-100%);
  }
  #toggle .ts:nth-child(2) img {
    height: 292px;
    width: 180px;
  }
  #toggle .ts:nth-child(2) p:first-child {
    bottom: -40%;
    left: 0;
    transform: none;
    text-align: center;
    /* right: 50%; */
  }
  #toggle .ts:nth-child(2) p:last-child {
    bottom: 40%;
    transform: none;
    text-align: center;
    left: 0;
    /* opacity: 0; */
  }
  #toggle .ts:nth-child(2) p:first-child.fiexd {
    display: none;
  }
  #toggle .ts:nth-child(2) p:last-child.fiexd {
    animation: animate;
    transition: 3s;
    animation-delay: 4s;
  }

  @keyframes animate {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      bottom: 40%;
    }
  }

  #toggle .ts img {
    width: 200px;
    height: 324px;
  }
  #toggle .ts:first-child.active {
    transform: translateY(-30%);
  }
  #toggle .ts:first-child.active img {
    width: 177px;
    height: 298px;
  }
  #toggle .ts:first-child p {
    top: 0;
    right: 0;
  }

  #monitor {
    padding: 0;
    margin: 0;
  }
  #monitor p:last-child {
    font-size: 12px;
  }
  #monitor div img:first-child {
    width: 40%;
  }
  #monitor div img:nth-child(2) {
    width: 48%;
  }

  #earth {
    width: 100%;
  }
  #earth h3 {
    font-size: 15px;
    line-height: 27px;
  }
  #display div img {
    width: 40%;
  }
  #display div {
    width: 50%;
  }
  #display h4,
  #display p {
    font-size: 20px;
    line-height: 27px;
  }
  #display span {
    opacity: 1;
  }
}

@media (max-width: 480px) {
  h2,
  h3,
  h4,
  p {
    font-family: "samsungOne_700";
    font-size: 13px;
  }
  #pearl > div img {
    width: 100%;
  }
  #pearl > div span {
    top: 30%;
  }
  #pearl > div img {
    width: 100%;
  }
  #toggle .ts:first-child p {
    transition: none;
    opacity: 1;
    margin-top: 80px;
  }
  #toggle .content {
    /* padding-top: 300px; */
    height: 300px;
  }
  #toggle .ts:first-child img {
    display: none;
  }
  #toggle .ts:nth-child(2) img {
    /* margin-top: 200px; */
    width: 157px;
    height: 238px;
  }
  #toggle .ts:nth-child(2).active {
    transform: none;
  }
  #toggle .ts:nth-child(2) p:last-child {
    bottom: 0;
  }
  #toggle .ts:nth-child(2) p:first-child {
    bottom: 20%;
  }

  #monitor div img:first-child {
    width: 100%;
  }
  #monitor p:last-child {
    font-size: 10px;
  }
  #earth h3 {
    transform: none;
    font-size: 13px;
    top: 30%;
  }
}
