body {
  background-color: var(--main-bg);
  color: var(--text);
}
h1,
h2,
h3,
h4,
p {
  font-family: "samsungOne_700";
  font-size: 17px;
}

/* section */
#pearl {
  position: relative;
  height: 100%;
  overflow: hidden;
}
#pearl .bgs {
  width: 50%;
  margin: 0 auto;
  transition: width 0.4s;
}
#pearl .bgs.full {
  width: 100%;
}

#pearl .bgs .bgss {
  position: relative;
  width: 100%;
}
#pearl .bgs .bgss img {
  width: 100%;
  object-fit: cover;
}
#pearl .bgs .bgss p {
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  text-align: left;
  line-height: 40px;
}

/* section2 */
#monitors {
  position: relative;
  margin: 0 auto;
}
#monitors img {
  width: 100%;
}
#monitors div {
  text-align: center;
  line-height: 40px;
}
#monitors div h1 {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
}

/* section3 */
#toggle {
  width: 100%;
}
#toggle .contents {
  position: relative;
  overflow: hidden;
  height: 100vh;
}
#toggle .contents .content2,
#toggle .contents .content1 {
  position: relative;
  width: 100%;
}
#toggle .contents .content2 img,
#toggle .contents .content1 img {
  width: 20%;
  height: 50vh;
  border-radius: 30%;
  position: absolute;
  object-fit: cover;
  left: 50%;
  transform: translateX(-50%);
}
#toggle .contents .content2.fulls img {
  width: 100%;
  border-radius: 0;
  height: auto;
  transition: 2s;
  height: 100vh;
}
#toggle .contents .content2,
#toggle .contents .content1 {
  height: 50vh;
}
#toggle .contents .content2 span,
#toggle .contents .content1 span {
  width: 100%;
  line-height: 40px;
  text-align: center;
}
#toggle .contents .content1 span {
  position: absolute;
  right: 30%;
  top: 30%;
}
#toggle .contents .content2 span p:first-child {
  position: absolute;
  top: 50%;
  right: 10%;
}
/* active */
#toggle .contents .content1.active {
  transition: 3s;
  opacity: 0;
}
#toggle .contents .content2.active {
  transform: translateY(-100%);
  transition: 4s;
}
#toggle .contents .content2.active span p:last-child {
  display: none;
}
/* fiexd */
#toggle .contents .content2.active.fulls span p:first-child {
  display: none;
}
#toggle .contents .content2.active.fulls span p:last-child {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  transition: 5s;
}
#monitor div {
  position: relative;
  width: 100%;
}
#monitor div img:nth-child(2) {
  width: 68%;
  margin: 0 auto;
}
<<<<<<< Updated upstream
#monitor div img:first-child {
  position: absolute;
  top: 40%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  object-fit: cover;
  width: 55%;
  transition: 3s;
}
#monitor div.big img:first-child {
  width: 100%;
}
#monitor p:last-child {
  width: 100%;
  position: absolute;
  top: 40%;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

#monitor .bg p {
  width: 100%;
  position: absolute;
  text-align: center;
  z-index: 10;
  left: 50%;
  right: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* section5 */
#earth {
  width: 100%;
  height: 100vh;
  position: relative;
  margin: 0 auto;
}
#earth img {
  position: absolute;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  object-fit: cover;
}
#earth .bg2 h2 {
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  line-height: 40px;
}

/* section6 */
#display {
  position: relative;
}
#display div {
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
#display span {
  width: 100%;
  position: absolute;
  top: 50%;
  right: 50%;
  left: 50%;
=======
#toggle .content{
  display: flex;
  flex-direction: column;
}
#toggle .ts{
  display: flex;
  justify-content: center;
  
}
#toggle .ts:nth-child(2) {
  width: 100%;
  height: 1070px;
  display: flex;
  /* flex-direction: row-reverse; */
}
#toggle img {
  /* position: fixed; */
  width: 380px;
  top: 20%;
  bottom: 0;
}
#toggle div:last-child > img {
  width: 380px;
  height: 578px;
  border-radius: 240px;
  /* bottom: 0; */
  /* z-index: -1; */
}
#toggle .ts p {
  position: absolute;
  /* top: 20%; */
  /* left: 0; */
>>>>>>> Stashed changes
  text-align: center;
  transform: translate(-50%, -50%);
  line-height: 40px;
<<<<<<< Updated upstream
  opacity: 0;
}
#display h4,
#display p {
  font-size: 40px;
}

/* opacity */
#display div.opacity {
  opacity: 0.6;
  transition: 0.7s;
}
#display span.opacity {
  opacity: 1;
  transition: 0.4s;
}

@media (max-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  p {
    font-family: "samsungOne_700";
    font-size: 14px;
    font-weight: 700;
  }
  #pearl .bgs .bgss p {
    line-height: 27px;
  }
  #toggle .contents {
    width: 100%;
  }
  #toggle .contents .content2 img,
  #toggle .contents .content1 img {
    width: 40%;
    border-radius: 30%;
    position: relative;
  }
  #toggle .contents .content2.fulls {
    width: 100%;
    border-radius: none;
  }
  #toggle .contents .content2.active {
    transform: translateY(-100%);
  }
  #toggle .contents .content2 span {
    width: 100%;
  }
  #monitors img {
    width: 100%;
  }
  #monitor .bg p {
    font-size: 13px;
  }
  #monitor p:last-child {
    font-size: 15px;
  }
  #earth .bg2 {
    width: 100%;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
  }
  #display div img {
    width: 40%;
  }
  #display div {
    width: 80%;
  }
  #display h4,
  #display p {
    font-size: 20px;
    line-height: 27px;
  }
  #display span {
    opacity: 1;
  }
  #monitors div h1 {
    width: 80%;
    margin: 0 auto;
    transform: translateY(-60%);
  }
}

@media (max-width: 480px) {
  h1,
  h2,
  h3,
  h4,
  p {
    font-family: "samsungOne_700";
    font-size: 12px;
  }
  #pearl .bgs {
    width: 100%;
  }
  #monitors div h1 {
    line-height: 27px;
  }
  #toggle .contents .content1 img {
    display: none;
  }
  #monitor {
    padding-bottom: 163px;
  }
  #monitor p:last-child {
    font-size: 11px;
  }
  #toggle .contents .content2 img {
    height: 40vh;
  }
  #toggle .contents {
    height: 600px;
  }
  #monitor div img:first-child {
    width: 100%;
    height: 575px;
  }
  #monitor p:last-child {
    font-size: 13px;
  }

  #earth .bg2 h2 {
    width: 80%;
    line-height: 27px;
  }
  #toggle .contents .content2 span p:last-child {
    width: 80%;
    margin: 0 auto;
  }
=======
  
>>>>>>> Stashed changes
}
